#cta

  & .s-cta-content
    padding: 7em 2em
    height: 100%
    text-align: center
    // flexCol
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: center
    font-family: 'soleil', sans-serif

    & a.g-button
      margin-bottom: 2em
