:root
  --brandColour: #F03F35
  --brandGrey: #4D4D4D
  --white: #ffffff
  --black: #000000
  --blue: #0092FF

html
  font-family: "ff-tisa-web-pro", serif
  font-size: responsive 18px 20px
  font-range: 320px 1280px

h1,
h2,
h3,
h4,
h5,
h6
  font-family: "soleil", sans-serif
  color: var(--brandGrey)

h1
  font-weight: 100

a,
a:visited,
a:active
  color: var(--blue)
