#how-we-help
  & .s-services-container
    @apply --flexCol

    @media screen and (min-width: 600px)
      flex-flow: row wrap
      justify-content: space-around
      align-content: center

    & .s-services-header
      background:
        radial-gradient(
          377.36px at 72.35% 46.8%,
          rgba(255, 255, 255, 0.32) 0%,
          rgba(255, 255, 255, 0) 100%),
        linear-gradient(0deg, #F03F35, #F03F35)
