#meet-our-team

  & .s-team-wrapper
    position: relative
    margin: 1em
    margin-top: -5em

    &:before
      @apply --addDotsTriangle

  & .s-team-member
    padding: 2em
    background-color: white
    margin-bottom: 2em
