#upcoming-events
  @apply --standardPage

  // Style overrides for specific content

  & .p-header-img
    background: url(../img/events-header.jpg) no-repeat center
    background-size: cover
    height: 0
    padding-bottom: 56.25%

  & h3
    margin-bottom: -0.5rem

  & .s-event-date
    font-family: 'soleil', sans-serif
    font-size: 1em
